DATABASE_HOSTNAME=localhost
DATABASE_PORT=12345
DATABASE_NAME=databasename
DATABASE_USERNAME=dbusername
DATABASE_PASSWORD=dbpassword
JWT_SECRET_KEY=secretkey
JWT_ALGORITHM=ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES=30